body {
    font-family: "Roboto", sans-serif ;
    color: #434455;
    background-color: #FFFFFF
    display; flex;
}
img {
    display: block;
}
ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.container {
    width: 1158px;
    margin: 0 auto;
    align-items: center;
}
h1, h2, h3, h4, h5, h6, p {
    margin: 0;
}

ul, ol {
    padding: 0;
    margin: 0;
}
/* heder and navigation */
.header-container {
    border-bottom: 1px solid #e7e9fc;
    display: flex;

}
.adres-info {
    display: flex;
    gap: 40px;
}


.navigation {
    display: flex;
    margin-right: auto;
    align-items: center;
    
    position: relative;
    color: #404bbf;
}
.nav {
display: flex;
}
.header-menu {
    align-items: center;
    display: flex;
    gap: 40px;
    position: relative;
}
.logo {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
    text-decoration: none;
    margin-right: 76px;
}
.navigation-list {
    display: flex;
    position: relative;
    color: #404bbf;
}
.address {
    display: flex;
    gap: 40px;
}
.adress-list {
    display: flex;
    gap: 40px;
    margin-left: auto;

}

.link {
    text-decoration: none;
    color: #2E2F42;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    display: block;
    gap: 40px;
    padding: 24px 0;
    position: relative;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.curent {
    color: #404BBF;

}
.navigation-list:first-child::before{

}

.navigation-list:first-child::after{
    position: absolute;
    color: #404BBF;
    width: 100%;
    left: 0;
    bottom: -1px;
    border-radius: 2px;
    content: ";
    background-color: #404bbf;


}

.link:hover {
    color: #404BBF;
}
.link:focus{
    color: #404bbf;
}
.accent {
    color: #2e2f42;
}
.address {
    font-style: normal;
    display: flex;
    gap: 40px;
}
.contacts {
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
    text-decoration: none;
    font-style: normal
}
.contacts:hover {
    color: #404BBF;
} 
.contacts:focus {
    color: #404bbf;
}
/* main section */
.main-section  {
    max-width: 1440px;
    background-color: #2E2F42;
    padding: 188px 0;
    max-width: 1440px;
    background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/people-office.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    margin: 0 auto;
}
.main-section-h{
    font-weight: 700;
    font-size: 56px;
    line-height: 1.07;
    letter-spacing: 0.02em;
    text-align: center;
    color: #FFFFFF;
    max-width: 496px;
    margin: 0 auto;
    margin-bottom: 48px;
}
.button {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    line-height: 1.5;
    font-size: 16px;
    letter-spacing: 0.04em;
    background-color: #4D5AE5;
    color: #FFFFFF;
    display: block;
    margin: 0 auto;
    min-width: 169px;
    height: 56px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

}
.button:hover {
    background-color: #404BBF;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.button:focus {
    background-color: #404BBF;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    cursor: pointer;
}
/* advsntages */
.advant {
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
    display: flex;
    gap: 24px;
    padding: 120px 0;
}
.advent-div {

}
.advant-h {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
    display: none;
    visibility:hidden;x: 11;
} 
.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}
.advant-list {
    display: flex;
    gap: 24px;
}

.advant-l {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
    width: calc((100% - 72px) / 4);
    margin-bottom: 8px;

}
.div-icons-advant {
    width: 264px;
    height: 112px;
    background-color: #F4F4FD;
    border-radius: 4px;
    margin: 0 auto;
    margin-bottom: 8px;
    border: 1px solid #8e8f99;
    display: flex;
    align-items: center;
    justify-content: center;
}
.strategy {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
    margin-bottom: 8px;
}
.strategy-p {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}
/*Our Team*/
.ourteam {
    background-color: #F4F4FD;
    padding: 120px 0;
}
.team-info{
margin-bottom: 32px;
padding: 32px 0;


}
.team {
}
.ourteam-h {
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: #2e2f42;
    margin-bottom: 72px;
}

.ourteam-list {
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    display: flex;
    gap: 24px;
    justify-content: center;
}
.ourteam-list-test {
    background-color: #FFFFFF;
    border-radius: 0px 0px 4px 4px;
    width: calc((100% - 72px) / 4);
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16),
    0px 2px 1px rgba(46, 47, 66, 0.08);
}

.team-list-h {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
    text-align: center;
    margin-bottom: 8px;
}
.team-list-p {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
    text-align: center;
    margin-bottom: 8px;
}
.our-list-icon {
    gap: 24px;
    display: flex;
    justify-content: center;
}
.list-icon {
    width: 40px;
    height: 40px;
    margin: 0 auto;
    margin-bottom: 32px;
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.ref-icons {
    width: 100%;
    height: 100%;
    background-color: #4D5AE5;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.ref-icons:hover{
    background-color: #404bbf;
}
.ref-icons:focus{
    background-color: #404bbf;
}
.icons-ourteam {
    fill: #F4F4FD;
}
/* portfolio */
.ourportfolio {
    padding-top: 120px;
    padding-bottom: 120px;
}
.container .folio {
    overflow: hidden;
}
.portfolio-head {
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: #2e2f42;
    margin-bottom: 72px;
}
.portfolio-list {
    display: flex;
    flex-wrap: wrap;
    column-gap: 24px;
    row-gap: 48px;
}
.list-folio {
    display: flex;
    flex-wrap: wrap;
    column-gap: 24px;
    row-gap: 48px;
    width: calc((100% - 48px) / 3);
    position: relative;
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
    overflow: hidden;
}
.list-folio:hover {
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16),
    0px 2px 1px rgba(46, 47, 66, 0.08);
    transform: translateY(0%);
}
.folio-info {
    padding: 32px 16px;
    border: 1px solid #e7e9fc;
    border-top: none;

}
.overlay {
    position: relative;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background-color: #4D5AE5;
    display: flex;
    transform: translateY(0%);
    
    
}
.overlay-text {
    width: 100%;
    height: 100%;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #F4F4FD;
    padding-left: 32px;
    text-align: center;
    position: absolute;
    top: 0;
    padding: 40px 32px;
    background-color: #4d5ae5;
    transform: translateY(100%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.list-folio:hover {
    transform: translateY(0%);
}
.portfolio-head-h {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
    margin-bottom: 8px;
}
.portfolio-head-p {
    font-size: 16px;
    letter-spacing: 0.02em;
    line-height: 1.5;
    color: #434455;
}

.footer {
background-color: #2e2f42;
padding: 100px 0;
}

.logo-footer {
    font-family: "Raleway", sans-serif;
    color: #4d5ae5;
    text-decoration: none;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    display: inline-block;
    margin-bottom: 16px;

}
.accentlogo {
    color: #f4f4fd;
}
.footer-p {
    line-height: 1.5;
    color: #F4F4FD;
    letter-spacing: 0.02em;
    max-width: 264px;
}
.con-footer {
    display: flex;
    align-items: baseline;
    margin-right: 120px;
}
.social-media {
    width: 208px;
    height: 80px;
    align-items: center;
    margin: 0 auto;
}
.social {
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #FFFFFF;
    margin-bottom: 16px;
}
.icon-list {
    gap: 16px;
    display: flex;

}
.list-icon-footer {
    width: 40px;
    height: 40px;
}
log-foot-div {

}
.foot-icon:hover{
    background-color: #31d0aa;
}
.foot-icon:focus{
    background-color: #31d0aa;
}