body {
    font-family: "Roboto", sans-serif ;
    color: #434455;
    background-color: #FFFFFF
    display; flex;
}
img {
    display: block;
}
ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.container {
    width: 1158px;
    padding: 0 15px;
    margin: 0 auto;
    align-items: center;
}
h1, h2, h3, h4, h5, h6, p {
    margin: 0;
}

ul, ol {
    padding: 0;
    margin: 0;
}
 
.header-container {
    border-bottom: 1px solid #e7e9fc;
    display: flex;

}
.adres-info {
    display: flex;
    gap: 40px;
}

/* heder and navigation */
.navigation {
    display: flex;
    margin-right: auto;
    align-items: center;
}
.nav {
display: flex;
}
.header-menu {
    align-items: center;
    display: flex;
    gap: 40px;
}
.logo {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
    text-decoration: none;
    margin-right: 76px;
}
.navigation-list {
    display: flex;
}
.address {
    display: flex;
    gap: 40px;
}
.adress-list {
    display: flex;
    gap: 40px;
    margin-left: auto;
}

.link {
    text-decoration: none;
    color: #2E2F42;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    display: block;
    gap: 40px;
    padding: 24px 0;
}
.curent {
    color: #404BBF;
    
    position: relative;
}
.curent::after {
    width: 100%;
    left: 0;
    bottom: -1px;
    content: "";
}

.link:hover {
    color: #404BBF;
}
.link:focus{
    color: #404bbf;
}
.accent {
    color: #2e2f42;
}
.address {
    font-style: normal;
    display: flex;
    gap: 40px;
}
.contacts {
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
    text-decoration: none;
    font-style: normal
}
.contacts:hover {
    color: #404BBF;
} 
.contacts:focus {
    color: #404bbf;
}
/* main section */
.main-section  {
    background-color: #2E2F42;
    padding: 188px 0;
    max-width: 1440px;
    background-image: linear-gradient(180deg, rgba(46, 47, 66, 0.4) 0%, rgba(46, 47, 66, 0.7) 100%), url(../images/people-office.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    margin: 0 auto;
}
.main-section-h{
    font-weight: 700;
    font-size: 56px;
    line-height: 1.07;
    letter-spacing: 0.02em;
    text-align: center;
    color: #FFFFFF;
    max-width: 496px;
    margin: 0 auto;
    margin-bottom: 48px;
}
.button {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    line-height: 1.5;
    font-size: 16px;
    letter-spacing: 0.04em;
    background-color: #4D5AE5;
    color: #FFFFFF;
    display: block;
    margin: 0 auto;
    min-width: 169px;
    height: 56px;
    border: none;
    border-radius: 4px;
    cursor: pointer;

}
.button:hover {
    background-color: #404BBF;
}
.button:focus {
    background-color: #404BBF;
    cursor: pointer;
}
/* advsntages */
.div-advant {
    
}
.advant {
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
    display: flex;
    gap: 24px;
    padding: 120px 0;
}
.advant-h {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
    display: none;
    visibility:hidden;x: 11;
} 
.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}
.advant-list {
    display: flex;
    gap: 24px;
}

.advant-l {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
    width: calc((100% - 72px) / 4);
    margin-bottom: 8px;

}
.div-icons-advant {
    display: flex;
    width: 264px;
    height: 112px;
    background-color: #F4F4FD;
    border-radius: 4px;
    margin-bottom: 8px;
    align-items: center;
    justify-content: center;


}
.strategy {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
    margin-bottom: 8px;
}
.strategy-p {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}
.ourteam {
    background-color: #F4F4FD;
    padding: 120px 0;
}
.team-info{
    padding: 32px 0;

}
.team {
}
.ourteam-h {
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: #2e2f42;
    margin-bottom: 72px;
}

.ourteam-list {
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    display: flex;
    gap: 24px;
}
.ourteam-list-test {
    background-color: #FFFFFF;
    border-radius: 0px 0px 4px 4px;
}
.div-ourteam {
    padding: 32px 0;
}
.div-ourteam-test {
    padding: 32px 0;
}
.team-list-h {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
    text-align: center;
    margin-bottom: 8px;
}
.team-list-p {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
    text-align: center;
}
/* portfolio */
.ourportfolio {
    padding-top: 120px;
    padding-bottom: 120px;
}
.portfolio-head {
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: #2e2f42;
    margin-bottom: 72px;
}
.portfolio-list {
    display: flex;
    flex-wrap: wrap;
    column-gap: 24px;
    row-gap: 48px;
}
.list-folio {
    flex-wrap: wrap;
    column-gap: 24px;
    row-gap: 48px;
    width: calc((100% - 48px) / 3);
}
.folio-info {
    padding: 32px 16px;
    border: 1px solid #e7e9fc;
    border-top: none;

}
.portfolio-head-h {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
    margin-bottom: 8px;
}
.portfolio-head-p {
    font-size: 16px;
    letter-spacing: 0.02em;
    line-height: 1.5;
    color: #434455;
}

.footer {
background-color: #2e2f42;
padding: 100px 0;
}

.logo-footer {
    color: #4d5ae5;
    text-decoration: none;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    display: inline-block;
    margin-bottom: 16px;

}
.accentlogo {
    color: #f4f4fd;
}
.footer-p {
    line-height: 1.5;
    color: #F4F4FD;
    letter-spacing: 0.02em;
    max-width: 264px;
}